@media screen and (max-width: 1024px) {
    .authors-block:nth-child(2),  
    .authors-block:nth-child(3), .authors-block:nth-child(4),
    .authors-block:nth-child(5), .authors-block:nth-child(6),
    .authors-block:nth-child(7),  
    .authors-block:nth-child(8), .authors-block:nth-child(9),
    .authors-block:nth-child(10), .authors-block:nth-child(11),
    .authors-block:nth-child(12), .authors-block:nth-child(13),
    .authors-block:nth-child(14), .authors-block:nth-child(15),
    .authors-block:nth-child(16), .authors-block:nth-child(17),  
    .authors-block:nth-child(18), .authors-block:nth-child(19),
    .authors-block:nth-child(20), .authors-block:nth-child(21),
    .authors-block:nth-child(22), .authors-block:nth-child(32),
    .authors-block:nth-child(23), .authors-block:nth-child(31),
    .authors-block:nth-child(24), .authors-block:nth-child(30),
    .authors-block:nth-child(25), .authors-block:nth-child(29), .authors-block:nth-child(34),
    .authors-block:nth-child(26), .authors-block:nth-child(28), .authors-block:nth-child(33) {
        -ms-grid-column-span:6;
        grid-column:span 6;
        grid-row:auto;
    }

    .text .divide-columns {
        column-count:1;
    }

    .authors-block:first-child {
        -ms-grid-column-span:12;
        grid-column:span 12;
    }

    .authors-content {
        width:80%;
    }

    .team-content {
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:start;
    }

    .team-block:first-child {
        -ms-grid-column-span: 4;
        grid-column: span 4;
        -ms-grid-row-span: 2;
        grid-row: span 2;
    }

    .team-block {
        -ms-grid-column-span: 4;
        grid-column: span 4;
    }

    .overlay-content-block {
        -ms-grid-column-span:6;
        grid-column:span 6;
        min-height:25vw;
    }
}

@media screen and (max-width: 768px) {
    .authors-content, .team-content, .footer-content, .read-content,
     .how-help-content, .menu-authors, .support-content, .menu-support, .overlay-content {
        width:95%;
    }

    .team-block:first-child, .support-block, .support-block-sublock {
        -ms-grid-column-span:12;
        grid-column:span 12;
    }

    .team-block {
        -ms-grid-column-span:3;
        grid-column:span 3
    }

    .overlay-content-block {
        -ms-grid-column-span:9;
        grid-column:span 9;
        height:30vw;
    }

    .intro img {
            width:100%;
    }
}

@media screen and (max-width: 600px) {
    .authors-block:first-child, .authors-block:nth-child(2),  
    .authors-block:nth-child(3), .authors-block:nth-child(4),
    .authors-block:nth-child(5), .authors-block:nth-child(6),
    .authors-block:nth-child(7),  
    .authors-block:nth-child(8), .authors-block:nth-child(9),
    .authors-block:nth-child(10), .authors-block:nth-child(11),
    .authors-block:nth-child(12), .authors-block:nth-child(13),
    .authors-block:nth-child(14), .authors-block:nth-child(15),
    .authors-block:nth-child(16), .authors-block:nth-child(17),  
    .authors-block:nth-child(18), .authors-block:nth-child(19),
    .authors-block:nth-child(20), .authors-block:nth-child(21),
    .authors-block:nth-child(22),  
    .authors-block:nth-child(23), .authors-block:nth-child(31),
    .authors-block:nth-child(24), .authors-block:nth-child(30),
    .authors-block:nth-child(25), .authors-block:nth-child(29),
    .authors-block:nth-child(26), .authors-block:nth-child(28),
    .authors-block:nth-child(27), .header-block, .menu-index, .authors-block:nth-child(32), .authors-block:nth-child(33), .authors-block:nth-child(34) {
        -ms-grid-column-span:12;
        grid-column:span 12;
        grid-row:auto;
    }

    .menu-index {
        -ms-grid-row:1;
        grid-row:1;
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
        padding:1rem 0;
    }

    .menu {
        justify-items:end;
    }

    .footer-block, .team-block {
        -ms-grid-column-span:6;
        grid-column:span 6;
    }

    .footer-block:nth-child(2) {
        -ms-grid-column-span:6;
        grid-column:span 6;
    }

    .disclaimer, .collapsible-body p:first-child {
        -webkit-columns:1;
                columns:1;
    }

    .social-bar {
        -ms-grid-column-align:start;
            justify-self:start;
    }

    .overlay .closebtn {
        top:-1.25rem;
        right:1rem;
    }

    .overlay-content-block {
        -ms-grid-column-span:12;
        grid-column:span 12;
        height:30vw;
    }

    .overlay-content-block:last-child {
        display:none;
    }

    .menu-index button {
        margin-right:1rem;
    }
}

@media screen and (max-width: 425px) {
    .authors-content, .team-content, .footer-content, .overlay-content {
        width:95%;
    }

    .overlay-content {
        grid-gap: 0.25rem;
    }

    .overlay-content-block img {
        width: 50%;
    }

    footer h3 {
        display:none;
    }

    .footer-block, .footer-block:nth-child(2) {
        -ms-grid-column-span:12;
        grid-column:span 12;

    }

    .footer-block:nth-child(2) {
        border-top:2px rgba(0,0,0,0.25) solid;
        padding:1rem 0;
    }

    .overlay-content-block {
        -ms-grid-column-span:18;
        grid-column:span 18;
        height:75vw;
    }

    .header-block {
        -ms-grid-rows: auto;
            grid-template-rows: auto;
    }

    .header-title {
        grid-row:auto;
    }
}

@media screen and (max-width: 375px) {
    .show {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        top:3.25rem;
        right:-1.5rem;
    }

    .dropdown-content a {
        margin-bottom:0.25rem;
        text-align:center;
    }

    .show a {
        margin-bottom:0.25rem;
    }

    .dropdown-content {
        top:3rem;
        right:-1.5rem;
    }

    img {
        width:97%;
    }
}

@media screen and (min-width: 1800px) {
    .authors-content, .team-content, .footer-content, .read-content, .support-content, .how-help-content {
        width:60%;
    }
}

@media screen and (min-width:1024px) {
    .hidden-title {
        display:none;
        background: transparent;
    }
}